# Задача классификации

Загрузим библиотеки

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
from sklearn.ensemble import IsolationForest
import scipy.stats as stats
import statsmodels.stats.api as sms
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
from math import ceil
from tqdm import tqdm
import warnings
from matplotlib.font_manager import FontProperties
from collections import defaultdict
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', 300)

from IPython.core.display import display, HTML # расширяем блокнот
display(HTML("<style>.container { width:90% !important; }</style>"))

pd.set_option('display.max_columns', None) # выводим все колонки

from IPython.core.interactiveshell import InteractiveShell # выводим все результаты из ячейки
InteractiveShell.ast_node_interactivity = "all"

In [2]:
df = pd.read_csv('data/datatest.csv')

In [3]:
df

,Unnamed: 0,Unnamed: 0.1,S,DateTime,H,A,gh,ga,allg,ph,pa,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,y1,y2
0,3584,3584,10,2002-08-17T00:00:00Z,4,40,0,0,0,1,1,15.0,7.0,5.0,3.0,9.0,1.0,14.0,11.0,1.0,2.0,0.0,0.0,0,0
1,3585,3585,10,2002-08-17T00:00:00Z,13,14,2,3,5,0,3,5.0,21.0,5.0,12.0,3.0,6.0,10.0,12.0,0.0,3.0,1.0,0.0,1,1
2,3586,3586,10,2002-08-17T00:00:00Z,18,43,2,2,4,1,1,13.0,10.0,9.0,5.0,10.0,5.0,18.0,4.0,1.0,1.0,0.0,0.0,1,1
3,3587,3587,10,2002-08-17T00:00:00Z,19,6,4,1,5,3,0,13.0,3.0,6.0,1.0,7.0,4.0,16.0,12.0,1.0,2.0,0.0,0.0,1,1
4,3588,3588,10,2002-08-17T00:00:00Z,23,26,3,0,3,3,0,13.0,18.0,8.0,10.0,2.0,7.0,13.0,13.0,1.0,1.0,0.0,0.0,0,1
5,3589,3589,10,2002-08-17T00:00:00Z,27,45,1,0,1,3,0,20.0,6.0,13.0,5.0,9.0,1.0,9.0,12.0,1.0,1.0,0.0,1.0,0,0
6,3590,3590,10,2002-08-17T00:00:00Z,38,28,0,0,0,1,1,12.0,11.0,5.0,5.0,3.0,4.0,11.0,14.0,0.0,0.0,0.0,0.0,0,0
7,3591,3591,10,2002-08-18T00:00:00Z,0,3,2,0,2,3,0,15.0,7.0,7.0,1.0,9.0,2.0,6.0,11.0,0.0,1.0,0.0,1.0,0,0
8,3592,3592,10,2002-08-18T00:00:00Z,1,25,0,1,1,0,3,11.0,12.0,5.0,6.0,6.0,8.0,9.0,5.0,2.0,2.0,0.0,0.0,0,0
9,3593,3593,10,2002-08-19T00:00:00Z,29,46,4,0,4,3,0,13.0,7.0,10.0,4.0,7.0,1.0,7.0,9.0,1.0,2.0,0.0,0.0,1,1
10,3594,3594,10,2002-08-23T00:00:00Z,14,27,2,2,4,1,1,11.0,9.0,5.0,7.0,3.0,3.0,13.0,9.0,3.0,2.0,0.0,0.0,1,1
11,3595,3595,10,2002-08-24T00:00:00Z,3,4,0,1,1,0,3,15.0,13.0,10.0,9.0,6.0,4.0,10.0,17.0,1.0,2.0,0.0,0.0,0,0
12,3596,3596,10,2002-08-24T00:00:00Z,6,13,1,2,3,0,3,15.0,8.0,9.0,4.0,4.0,6.0,9.0,11.0,1.0,1.0,0.0,0.0,0,1
13,3597,3597,10,2002-08-24T00:00:00Z,25,38,3,0,3,3,0,16.0,7.0,9.0,1.0,5.0,8.0,11.0,8.0,0.0,1.0,0.0,0.0,0,1
14,3598,3598,10,2002-08-24T00:00:00Z,26,29,1,0,1,3,0,20.0,9.0,12.0,6.0,6.0,8.0,12.0,14.0,1.0,1.0,0.0,0.0,0,0
15,3599,3599,10,2002-08-24T00:00:00Z,28,19,2,2,4,1,1,6.0,10.0,3.0,4.0,8.0,11.0,18.0,7.0,4.0,2.0,0.0,0.0,1,1
16,3600,3600,10,2002-08-24T00:00:00Z,40,18,0,1,1,0,3,13.0,11.0,3.0,5.0,10.0,4.0,10.0,15.0,1.0,0.0,0.0,0.0,0,0
17,3601,3601,10,2002-08-24T00:00:00Z,43,1,1,0,1,3,0,8.0,18.0,3.0,8.0,2.0,5.0,20.0,15.0,2.0,0.0,0.0,0.0,0,0
18,3602,3602,10,2002-08-24T00:00:00Z,45,23,1,3,4,0,3,12.0,11.0,2.0,4.0,7.0,3.0,9.0,11.0,1.0,1.0,0.0,0.0,1,1
19,3603,3603,10,2002-08-24T00:00:00Z,46,0,2,2,4,1,1,8.0,9.0,4.0,5.0,4.0,4.0,18.0,14.0,2.0,5.0,0.0,0.0,1,1
20,3604,3604,10,2002-08-27T00:00:00Z,0,45,5,2,7,3,0,10.0,8.0,8.0,6.0,1.0,1.0,9.0,9.0,3.0,2.0,0.0,0.0,1,1
21,3605,3605,10,2002-08-27T00:00:00Z,13,43,0,1,1,0,3,10.0,7.0,5.0,1.0,6.0,9.0,9.0,23.0,1.0,2.0,0.0,0.0,0,0
22,3606,3606,10,2002-08-28T00:00:00Z,1,26,1,0,1,3,0,11.0,7.0,6.0,1.0,5.0,4.0,13.0,11.0,1.0,3.0,0.0,0.0,0,0
23,3607,3607,10,2002-08-28T00:00:00Z,4,25,2,2,4,1,1,7.0,5.0,4.0,3.0,5.0,2.0,17.0,10.0,3.0,1.0,0.0,0.0,1,1
24,3608,3608,10,2002-08-28T00:00:00Z,18,3,1,1,2,1,1,11.0,5.0,4.0,2.0,7.0,4.0,18.0,12.0,0.0,3.0,1.0,0.0,0,0
25,3609,3609,10,2002-08-28T00:00:00Z,23,40,0,1,1,0,3,20.0,9.0,9.0,4.0,8.0,1.0,13.0,11.0,2.0,0.0,0.0,0.0,0,0
26,3610,3610,10,2002-08-28T00:00:00Z,38,14,1,1,2,1,1,12.0,10.0,4.0,3.0,5.0,6.0,16.0,11.0,2.0,1.0,0.0,0.0,0,0
27,3611,3611,10,2002-08-31T00:00:00Z,3,23,2,1,3,3,0,9.0,8.0,5.0,6.0,2.0,5.0,14.0,16.0,3.0,3.0,0.0,0.0,0,1
28,3612,3612,10,2002-08-31T00:00:00Z,26,18,3,1,4,3,0,7.0,14.0,6.0,8.0,7.0,6.0,12.0,11.0,1.0,0.0,1.0,0.0,1,1
29,3613,3613,10,2002-08-31T00:00:00Z,28,4,1,0,1,3,0,7.0,10.0,3.0,7.0,8.0,6.0,19.0,16.0,3.0,3.0,0.0,0.0,0,0
30,3964,3964,11,2003-08-16T00:00:00Z,0,18,2,1,3,3,0,11.0,13.0,5.0,7.0,6.0,9.0,8.0,15.0,1.0,3.0,1.0,1.0,0,1
31,3965,3965,11,2003-08-16T00:00:00Z,3,43,1,0,1,3,0,10.0,15.0,5.0,7.0,1.0,4.0,20.0,27.0,3.0,5.0,0.0,0.0,0,0
32,3966,3966,11,2003-08-16T00:00:00Z,4,49,5,1,6,3,0,25.0,8.0,13.0,5.0,6.0,2.0,8.0,14.0,1.0,1.0,0.0,0.0,1,1
33,3967,3967,11,2003-08-16T00:00:00Z,19,28,3,2,5,3,0,17.0,8.0,9.0,5.0,7.0,6.0,18.0,16.0,1.0,1.0,0.0,0.0,1,1
34,3968,3968,11,2003-08-16T00:00:00Z,24,38,2,2,4,1,1,12.0,13.0,7.0,10.0,2.0,7.0,27.0,15.0,3.0,1.0,0.0,0.0,1,1
35,3969,3969,11,2003-08-16T00:00:00Z,27,6,4,0,4,3,0,13.0,15.0,6.0,5.0,8.0,4.0,12.0,8.0,0.0,4.0,0.0,0.0,1,1
36,3970,3970,11,2003-08-16T00:00:00Z,33,1,2,1,3,3,0,4.0,9.0,3.0,5.0,7.0,9.0,18.0,22.0,2.0,1.0,0.0,1.0,0,1
37,3971,3971,11,2003-08-17T00:00:00Z,13,26,0,3,3,0,3,10.0,14.0,5.0,8.0,4.0,7.0,12.0,16.0,2.0,1.0,1.0,0.0,0,1
38,3972,3972,11,2003-08-17T00:00:00Z,23,29,2,2,4,1,1,8.0,19.0,3.0,10.0,4.0,8.0,19.0,16.0,4.0,2.0,0.0,0.0,1,1
39,3973,3973,11,2003-08-17T00:00:00Z,25,14,1,2,3,0,3,12.0,10.0,7.0,6.0,8.0,6.0,13.0,12.0,3.0,1.0,0.0,0.0,0,1
40,3974,3974,11,2003-08-23T00:00:00Z,6,4,2,2,4,1,1,16.0,10.0,10.0,5.0,9.0,2.0,11.0,15.0,2.0,4.0,0.0,1.0,1,1
41,3975,3975,11,2003-08-23T00:00:00Z,14,24,2,1,3,3,0,17.0,5.0,7.0,1.0,7.0,2.0,12.0,18.0,0.0,3.0,1.0,2.0,0,1
42,3976,3976,11,2003-08-23T00:00:00Z,18,19,3,1,4,3,0,10.0,23.0,8.0,15.0,4.0,10.0,15.0,14.0,2.0,4.0,0.0,0.0,1,1
43,3977,3977,11,2003-08-23T00:00:00Z,26,33,1,1,2,1,1,21.0,4.0,11.0,2.0,11.0,7.0,8.0,22.0,2.0,3.0,0.0,0.0,0,0
44,3978,3978,11,2003-08-23T00:00:00Z,29,27,1,2,3,0,3,7.0,11.0,5.0,8.0,2.0,4.0,18.0,14.0,2.0,2.0,0.0,0.0,0,1
45,3979,3979,11,2003-08-23T00:00:00Z,38,3,0,0,0,1,1,14.0,12.0,7.0,5.0,2.0,7.0,15.0,19.0,3.0,1.0,0.0,0.0,0,0
46,3980,3980,11,2003-08-23T00:00:00Z,43,23,2,1,3,3,0,20.0,5.0,4.0,2.0,6.0,0.0,14.0,14.0,1.0,2.0,0.0,0.0,0,1
47,3981,3981,11,2003-08-23T00:00:00Z,49,13,0,4,4,0,3,10.0,8.0,4.0,6.0,5.0,2.0,11.0,7.0,2.0,1.0,0.0,1.0,1,1
48,3982,3982,11,2003-08-24T00:00:00Z,1,25,0,0,0,1,1,14.0,15.0,9.0,9.0,8.0,9.0,16.0,7.0,0.0,1.0,0.0,0.0,0,0
49,3983,3983,11,2003-08-24T00:00:00Z,28,0,0,4,4,0,3,10.0,14.0,4.0,10.0,3.0,5.0,11.0,7.0,1.0,0.0,0.0,0.0,1,1

# Задание 1.1
- удалить колонку Unnamed: 0
- заменить все NaN на 0
- посмотреть на типы данных колонок (dtypes)
- преобразовать колонку DateTime в datetime64
- проверить выполнение

In [4]:
del df['Unnamed: 0']
del df['Unnamed: 0.1']

df = df.fillna(0)

In [5]:
df.dtypes

S             int64
DateTime     object
H             int64
A             int64
gh            int64
ga            int64
allg          int64
ph            int64
pa            int64
HS          float64
AS          float64
HST         float64
AST         float64
HC          float64
AC          float64
HF          float64
AF          float64
HY          float64
AY          float64
HR          float64
AR          float64
y1            int64
y2            int64
dtype: object

In [6]:
df.DateTime = df.DateTime.apply(pd.to_datetime)

# Задание 1.2
- создать функцию summ_pok которая будет подсчитывать сумму по данным столбцам:
- - HS + AS = HAS
- - HST + AST = HAST
- - HC + AC = HAC
- - HF + AF = HAF
- - HY + AY = HAY
- - HR + AR = HAR

In [7]:
def summ_pok(df: pd.DataFrame) -> pd.DataFrame:
    """Function to calculate sum by columns
    :param df: Original DataFrame
    :return: sum by columns
    """
    result_df = pd.DataFrame()
    result_df['HAS'], result_df['HAST'], result_df['HAC'], result_df['HAF'], result_df['HAY'], result_df['HAR'] = \
    df.HS + df.AS, df.HST + df.AST, df.HC + df.AC, df.HF + df.AF, df.HY + df.AY, df.HR + df.AR
    return result_df

In [8]:
summ_pok(df)

     HAS  HAST   HAC   HAF  HAY  HAR
0   22.0   8.0  10.0  25.0  3.0  0.0
1   26.0  17.0   9.0  22.0  3.0  1.0
2   23.0  14.0  15.0  22.0  2.0  0.0
3   16.0   7.0  11.0  28.0  3.0  0.0
4   31.0  18.0   9.0  26.0  2.0  0.0
5   26.0  18.0  10.0  21.0  2.0  1.0
6   23.0  10.0   7.0  25.0  0.0  0.0
7   22.0   8.0  11.0  17.0  1.0  1.0
8   23.0  11.0  14.0  14.0  4.0  0.0
9   20.0  14.0   8.0  16.0  3.0  0.0
10  20.0  12.0   6.0  22.0  5.0  0.0
11  28.0  19.0  10.0  27.0  3.0  0.0
12  23.0  13.0  10.0  20.0  2.0  0.0
13  23.0  10.0  13.0  19.0  1.0  0.0
14  29.0  18.0  14.0  26.0  2.0  0.0
15  16.0   7.0  19.0  25.0  6.0  0.0
16  24.0   8.0  14.0  25.0  1.0  0.0
17  26.0  11.0   7.0  35.0  2.0  0.0
18  23.0   6.0  10.0  20.0  2.0  0.0
19  17.0   9.0   8.0  32.0  7.0  0.0
20  18.0  14.0   2.0  18.0  5.0  0.0
21  17.0   6.0  15.0  32.0  3.0  0.0
22  18.0   7.0   9.0  24.0  4.0  0.0
23  12.0   7.0   7.0  27.0  4.0  0.0
24  16.0   6.0  11.0  30.0  3.0  1.0
25  29.0  13.0   9.0  24.0  2.0  0.0
26  22.0   7.0  11.0  27.0  3.0  0.0
27  17.0  11.0   7.0  30.0  6.0  0.0
28  21.0  14.0  13.0  23.0  1.0  1.0
29  17.0  10.0  14.0  35.0  6.0  0.0
30  24.0  12.0  15.0  23.0  4.0  2.0
31  25.0  12.0   5.0  47.0  8.0  0.0
32  33.0  18.0   8.0  22.0  2.0  0.0
33  25.0  14.0  13.0  34.0  2.0  0.0
34  25.0  17.0   9.0  42.0  4.0  0.0
35  28.0  11.0  12.0  20.0  4.0  0.0
36  13.0   8.0  16.0  40.0  3.0  1.0
37  24.0  13.0  11.0  28.0  3.0  1.0
38  27.0  13.0  12.0  35.0  6.0  0.0
39  22.0  13.0  14.0  25.0  4.0  0.0
40  26.0  15.0  11.0  26.0  6.0  1.0
41  22.0   8.0   9.0  30.0  3.0  3.0
42  33.0  23.0  14.0  29.0  6.0  0.0
43  25.0  13.0  18.0  30.0  5.0  0.0
44  18.0  13.0   6.0  32.0  4.0  0.0
45  26.0  12.0   9.0  34.0  4.0  0.0
46  25.0   6.0   6.0  28.0  3.0  0.0
47  18.0  10.0   7.0  18.0  3.0  1.0
48  29.0  18.0  17.0  23.0  1.0  0.0
49  24.0  14.0   8.0  18.0  1.0  0.0

In [9]:
new_table = pd.concat([df, summ_pok(df)], axis=1)
new_table

,S,DateTime,H,A,gh,ga,allg,ph,pa,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,y1,y2,HAS,HAST,HAC,HAF,HAY,HAR
0,10,2002-08-17 00:00:00+00:00,4,40,0,0,0,1,1,15.0,7.0,5.0,3.0,9.0,1.0,14.0,11.0,1.0,2.0,0.0,0.0,0,0,22.0,8.0,10.0,25.0,3.0,0.0
1,10,2002-08-17 00:00:00+00:00,13,14,2,3,5,0,3,5.0,21.0,5.0,12.0,3.0,6.0,10.0,12.0,0.0,3.0,1.0,0.0,1,1,26.0,17.0,9.0,22.0,3.0,1.0
2,10,2002-08-17 00:00:00+00:00,18,43,2,2,4,1,1,13.0,10.0,9.0,5.0,10.0,5.0,18.0,4.0,1.0,1.0,0.0,0.0,1,1,23.0,14.0,15.0,22.0,2.0,0.0
3,10,2002-08-17 00:00:00+00:00,19,6,4,1,5,3,0,13.0,3.0,6.0,1.0,7.0,4.0,16.0,12.0,1.0,2.0,0.0,0.0,1,1,16.0,7.0,11.0,28.0,3.0,0.0
4,10,2002-08-17 00:00:00+00:00,23,26,3,0,3,3,0,13.0,18.0,8.0,10.0,2.0,7.0,13.0,13.0,1.0,1.0,0.0,0.0,0,1,31.0,18.0,9.0,26.0,2.0,0.0
5,10,2002-08-17 00:00:00+00:00,27,45,1,0,1,3,0,20.0,6.0,13.0,5.0,9.0,1.0,9.0,12.0,1.0,1.0,0.0,1.0,0,0,26.0,18.0,10.0,21.0,2.0,1.0
6,10,2002-08-17 00:00:00+00:00,38,28,0,0,0,1,1,12.0,11.0,5.0,5.0,3.0,4.0,11.0,14.0,0.0,0.0,0.0,0.0,0,0,23.0,10.0,7.0,25.0,0.0,0.0
7,10,2002-08-18 00:00:00+00:00,0,3,2,0,2,3,0,15.0,7.0,7.0,1.0,9.0,2.0,6.0,11.0,0.0,1.0,0.0,1.0,0,0,22.0,8.0,11.0,17.0,1.0,1.0
8,10,2002-08-18 00:00:00+00:00,1,25,0,1,1,0,3,11.0,12.0,5.0,6.0,6.0,8.0,9.0,5.0,2.0,2.0,0.0,0.0,0,0,23.0,11.0,14.0,14.0,4.0,0.0
9,10,2002-08-19 00:00:00+00:00,29,46,4,0,4,3,0,13.0,7.0,10.0,4.0,7.0,1.0,7.0,9.0,1.0,2.0,0.0,0.0,1,1,20.0,14.0,8.0,16.0,3.0,0.0
10,10,2002-08-23 00:00:00+00:00,14,27,2,2,4,1,1,11.0,9.0,5.0,7.0,3.0,3.0,13.0,9.0,3.0,2.0,0.0,0.0,1,1,20.0,12.0,6.0,22.0,5.0,0.0
11,10,2002-08-24 00:00:00+00:00,3,4,0,1,1,0,3,15.0,13.0,10.0,9.0,6.0,4.0,10.0,17.0,1.0,2.0,0.0,0.0,0,0,28.0,19.0,10.0,27.0,3.0,0.0
12,10,2002-08-24 00:00:00+00:00,6,13,1,2,3,0,3,15.0,8.0,9.0,4.0,4.0,6.0,9.0,11.0,1.0,1.0,0.0,0.0,0,1,23.0,13.0,10.0,20.0,2.0,0.0
13,10,2002-08-24 00:00:00+00:00,25,38,3,0,3,3,0,16.0,7.0,9.0,1.0,5.0,8.0,11.0,8.0,0.0,1.0,0.0,0.0,0,1,23.0,10.0,13.0,19.0,1.0,0.0
14,10,2002-08-24 00:00:00+00:00,26,29,1,0,1,3,0,20.0,9.0,12.0,6.0,6.0,8.0,12.0,14.0,1.0,1.0,0.0,0.0,0,0,29.0,18.0,14.0,26.0,2.0,0.0
15,10,2002-08-24 00:00:00+00:00,28,19,2,2,4,1,1,6.0,10.0,3.0,4.0,8.0,11.0,18.0,7.0,4.0,2.0,0.0,0.0,1,1,16.0,7.0,19.0,25.0,6.0,0.0
16,10,2002-08-24 00:00:00+00:00,40,18,0,1,1,0,3,13.0,11.0,3.0,5.0,10.0,4.0,10.0,15.0,1.0,0.0,0.0,0.0,0,0,24.0,8.0,14.0,25.0,1.0,0.0
17,10,2002-08-24 00:00:00+00:00,43,1,1,0,1,3,0,8.0,18.0,3.0,8.0,2.0,5.0,20.0,15.0,2.0,0.0,0.0,0.0,0,0,26.0,11.0,7.0,35.0,2.0,0.0
18,10,2002-08-24 00:00:00+00:00,45,23,1,3,4,0,3,12.0,11.0,2.0,4.0,7.0,3.0,9.0,11.0,1.0,1.0,0.0,0.0,1,1,23.0,6.0,10.0,20.0,2.0,0.0
19,10,2002-08-24 00:00:00+00:00,46,0,2,2,4,1,1,8.0,9.0,4.0,5.0,4.0,4.0,18.0,14.0,2.0,5.0,0.0,0.0,1,1,17.0,9.0,8.0,32.0,7.0,0.0
20,10,2002-08-27 00:00:00+00:00,0,45,5,2,7,3,0,10.0,8.0,8.0,6.0,1.0,1.0,9.0,9.0,3.0,2.0,0.0,0.0,1,1,18.0,14.0,2.0,18.0,5.0,0.0
21,10,2002-08-27 00:00:00+00:00,13,43,0,1,1,0,3,10.0,7.0,5.0,1.0,6.0,9.0,9.0,23.0,1.0,2.0,0.0,0.0,0,0,17.0,6.0,15.0,32.0,3.0,0.0
22,10,2002-08-28 00:00:00+00:00,1,26,1,0,1,3,0,11.0,7.0,6.0,1.0,5.0,4.0,13.0,11.0,1.0,3.0,0.0,0.0,0,0,18.0,7.0,9.0,24.0,4.0,0.0
23,10,2002-08-28 00:00:00+00:00,4,25,2,2,4,1,1,7.0,5.0,4.0,3.0,5.0,2.0,17.0,10.0,3.0,1.0,0.0,0.0,1,1,12.0,7.0,7.0,27.0,4.0,0.0
24,10,2002-08-28 00:00:00+00:00,18,3,1,1,2,1,1,11.0,5.0,4.0,2.0,7.0,4.0,18.0,12.0,0.0,3.0,1.0,0.0,0,0,16.0,6.0,11.0,30.0,3.0,1.0
25,10,2002-08-28 00:00:00+00:00,23,40,0,1,1,0,3,20.0,9.0,9.0,4.0,8.0,1.0,13.0,11.0,2.0,0.0,0.0,0.0,0,0,29.0,13.0,9.0,24.0,2.0,0.0
26,10,2002-08-28 00:00:00+00:00,38,14,1,1,2,1,1,12.0,10.0,4.0,3.0,5.0,6.0,16.0,11.0,2.0,1.0,0.0,0.0,0,0,22.0,7.0,11.0,27.0,3.0,0.0
27,10,2002-08-31 00:00:00+00:00,3,23,2,1,3,3,0,9.0,8.0,5.0,6.0,2.0,5.0,14.0,16.0,3.0,3.0,0.0,0.0,0,1,17.0,11.0,7.0,30.0,6.0,0.0
28,10,2002-08-31 00:00:00+00:00,26,18,3,1,4,3,0,7.0,14.0,6.0,8.0,7.0,6.0,12.0,11.0,1.0,0.0,1.0,0.0,1,1,21.0,14.0,13.0,23.0,1.0,1.0
29,10,2002-08-31 00:00:00+00:00,28,4,1,0,1,3,0,7.0,10.0,3.0,7.0,8.0,6.0,19.0,16.0,3.0,3.0,0.0,0.0,0,0,17.0,10.0,14.0,35.0,6.0,0.0
30,11,2003-08-16 00:00:00+00:00,0,18,2,1,3,3,0,11.0,13.0,5.0,7.0,6.0,9.0,8.0,15.0,1.0,3.0,1.0,1.0,0,1,24.0,12.0,15.0,23.0,4.0,2.0
31,11,2003-08-16 00:00:00+00:00,3,43,1,0,1,3,0,10.0,15.0,5.0,7.0,1.0,4.0,20.0,27.0,3.0,5.0,0.0,0.0,0,0,25.0,12.0,5.0,47.0,8.0,0.0
32,11,2003-08-16 00:00:00+00:00,4,49,5,1,6,3,0,25.0,8.0,13.0,5.0,6.0,2.0,8.0,14.0,1.0,1.0,0.0,0.0,1,1,33.0,18.0,8.0,22.0,2.0,0.0
33,11,2003-08-16 00:00:00+00:00,19,28,3,2,5,3,0,17.0,8.0,9.0,5.0,7.0,6.0,18.0,16.0,1.0,1.0,0.0,0.0,1,1,25.0,14.0,13.0,34.0,2.0,0.0
34,11,2003-08-16 00:00:00+00:00,24,38,2,2,4,1,1,12.0,13.0,7.0,10.0,2.0,7.0,27.0,15.0,3.0,1.0,0.0,0.0,1,1,25.0,17.0,9.0,42.0,4.0,0.0
35,11,2003-08-16 00:00:00+00:00,27,6,4,0,4,3,0,13.0,15.0,6.0,5.0,8.0,4.0,12.0,8.0,0.0,4.0,0.0,0.0,1,1,28.0,11.0,12.0,20.0,4.0,0.0
36,11,2003-08-16 00:00:00+00:00,33,1,2,1,3,3,0,4.0,9.0,3.0,5.0,7.0,9.0,18.0,22.0,2.0,1.0,0.0,1.0,0,1,13.0,8.0,16.0,40.0,3.0,1.0
37,11,2003-08-17 00:00:00+00:00,13,26,0,3,3,0,3,10.0,14.0,5.0,8.0,4.0,7.0,12.0,16.0,2.0,1.0,1.0,0.0,0,1,24.0,13.0,11.0,28.0,3.0,1.0
38,11,2003-08-17 00:00:00+00:00,23,29,2,2,4,1,1,8.0,19.0,3.0,10.0,4.0,8.0,19.0,16.0,4.0,2.0,0.0,0.0,1,1,27.0,13.0,12.0,35.0,6.0,0.0
39,11,2003-08-17 00:00:00+00:00,25,14,1,2,3,0,3,12.0,10.0,7.0,6.0,8.0,6.0,13.0,12.0,3.0,1.0,0.0,0.0,0,1,22.0,13.0,14.0,25.0,4.0,0.0
40,11,2003-08-23 00:00:00+00:00,6,4,2,2,4,1,1,16.0,10.0,10.0,5.0,9.0,2.0,11.0,15.0,2.0,4.0,0.0,1.0,1,1,26.0,15.0,11.0,26.0,6.0,1.0
41,11,2003-08-23 00:00:00+00:00,14,24,2,1,3,3,0,17.0,5.0,7.0,1.0,7.0,2.0,12.0,18.0,0.0,3.0,1.0,2.0,0,1,22.0,8.0,9.0,30.0,3.0,3.0
42,11,2003-08-23 00:00:00+00:00,18,19,3,1,4,3,0,10.0,23.0,8.0,15.0,4.0,10.0,15.0,14.0,2.0,4.0,0.0,0.0,1,1,33.0,23.0,14.0,29.0,6.0,0.0
43,11,2003-08-23 00:00:00+00:00,26,33,1,1,2,1,1,21.0,4.0,11.0,2.0,11.0,7.0,8.0,22.0,2.0,3.0,0.0,0.0,0,0,25.0,13.0,18.0,30.0,5.0,0.0
44,11,2003-08-23 00:00:00+00:00,29,27,1,2,3,0,3,7.0,11.0,5.0,8.0,2.0,4.0,18.0,14.0,2.0,2.0,0.0,0.0,0,1,18.0,13.0,6.0,32.0,4.0,0.0
45,11,2003-08-23 00:00:00+00:00,38,3,0,0,0,1,1,14.0,12.0,7.0,5.0,2.0,7.0,15.0,19.0,3.0,1.0,0.0,0.0,0,0,26.0,12.0,9.0,34.0,4.0,0.0
46,11,2003-08-23 00:00:00+00:00,43,23,2,1,3,3,0,20.0,5.0,4.0,2.0,6.0,0.0,14.0,14.0,1.0,2.0,0.0,0.0,0,1,25.0,6.0,6.0,28.0,3.0,0.0
47,11,2003-08-23 00:00:00+00:00,49,13,0,4,4,0,3,10.0,8.0,4.0,6.0,5.0,2.0,11.0,7.0,2.0,1.0,0.0,1.0,1,1,18.0,10.0,7.0,18.0,3.0,1.0
48,11,2003-08-24 00:00:00+00:00,1,25,0,0,0,1,1,14.0,15.0,9.0,9.0,8.0,9.0,16.0,7.0,0.0,1.0,0.0,0.0,0,0,29.0,18.0,17.0,23.0,1.0,0.0
49,11,2003-08-24 00:00:00+00:00,28,0,0,4,4,0,3,10.0,14.0,4.0,10.0,3.0,5.0,11.0,7.0,1.0,0.0,0.0,0.0,1,1,24.0,14.0,8.0,18.0,1.0,0.0

# Задание 1.3
- создать сводную таблицу по столбцу H (аналогично для столбца A)
- - взять все уникальные объекты в колонке H
- - сводную информацию за все S по столбцам gh	ga	allg	ph	pa	HS	AS	HST	AST	HC	AC	HF	AF	HY	AY	HR	AR y1 y2(суммировать)

In [10]:
def pivot(df: pd.DataFrame, index: str):
    """Function to create pivot table by 'index' column
    :param df: Original DataFrame
    :index: column on which the pivot table is created
    :return: pivot table
    """
    table = pd.pivot_table(df, index=index, aggfunc=np.sum)
    if index == 'H':
        del table['A']
    elif index == 'A':
        del table['H']
    return(table.reset_index())

In [11]:
pivot(df, index = 'H')

,H,AC,AF,AR,AS,AST,AY,HC,HF,HR,HS,HST,HY,S,allg,ga,gh,pa,ph,y1,y2
0,0,12.0,35.0,2.0,28.0,14.0,6.0,16.0,23.0,1.0,36.0,20.0,4.0,31,12,3,9,0,9,1,2
1,1,21.0,23.0,0.0,34.0,16.0,6.0,19.0,38.0,0.0,36.0,20.0,3.0,31,2,1,1,4,4,0,0
2,3,13.0,60.0,0.0,36.0,22.0,10.0,9.0,44.0,0.0,34.0,20.0,7.0,31,5,2,3,3,6,0,1
3,4,5.0,35.0,0.0,20.0,11.0,4.0,20.0,39.0,0.0,47.0,22.0,5.0,31,10,3,7,2,5,2,2
4,6,8.0,26.0,1.0,18.0,9.0,5.0,13.0,20.0,0.0,31.0,19.0,3.0,21,7,4,3,4,1,1,2
5,13,22.0,51.0,0.0,42.0,21.0,6.0,13.0,31.0,2.0,25.0,15.0,3.0,31,9,7,2,9,0,1,2
6,14,5.0,27.0,2.0,14.0,8.0,5.0,10.0,25.0,1.0,28.0,12.0,3.0,21,7,3,4,1,4,1,2
7,18,19.0,30.0,0.0,38.0,22.0,8.0,21.0,51.0,1.0,34.0,21.0,3.0,31,10,4,6,2,5,2,2
8,19,10.0,28.0,0.0,11.0,6.0,3.0,14.0,34.0,0.0,30.0,15.0,2.0,21,10,3,7,0,6,2,2
9,23,16.0,40.0,0.0,46.0,24.0,3.0,14.0,45.0,0.0,41.0,20.0,7.0,31,8,3,5,4,4,1,2
10,24,7.0,15.0,0.0,13.0,10.0,1.0,2.0,27.0,0.0,12.0,7.0,3.0,11,4,2,2,1,1,1,1
11,25,14.0,20.0,0.0,17.0,7.0,2.0,13.0,24.0,0.0,28.0,16.0,3.0,21,6,2,4,3,3,0,2
12,26,21.0,47.0,0.0,27.0,16.0,4.0,24.0,32.0,1.0,48.0,29.0,4.0,31,7,2,5,1,7,1,1
13,27,5.0,20.0,1.0,21.0,10.0,5.0,17.0,21.0,0.0,33.0,19.0,1.0,21,5,0,5,0,6,1,1
14,28,22.0,30.0,0.0,34.0,21.0,5.0,19.0,48.0,0.0,23.0,10.0,8.0,31,9,6,3,4,4,2,2
15,29,5.0,23.0,0.0,18.0,12.0,4.0,9.0,25.0,0.0,20.0,15.0,3.0,21,7,2,5,3,3,1,2
16,33,9.0,22.0,1.0,9.0,5.0,1.0,7.0,18.0,0.0,4.0,3.0,2.0,11,3,1,2,0,3,0,1
17,38,17.0,44.0,0.0,33.0,13.0,2.0,10.0,42.0,0.0,38.0,16.0,5.0,31,2,1,1,3,3,0,0
18,40,4.0,15.0,0.0,11.0,5.0,0.0,10.0,10.0,0.0,13.0,3.0,1.0,10,1,1,0,3,0,0,0
19,43,5.0,29.0,0.0,23.0,10.0,2.0,8.0,34.0,0.0,28.0,7.0,3.0,21,4,1,3,0,6,0,1
20,45,3.0,11.0,0.0,11.0,4.0,1.0,7.0,9.0,0.0,12.0,2.0,1.0,10,4,3,1,3,0,1,1
21,46,4.0,14.0,0.0,9.0,5.0,5.0,4.0,18.0,0.0,8.0,4.0,2.0,10,4,2,2,1,1,1,1
22,49,2.0,7.0,1.0,8.0,6.0,1.0,5.0,11.0,0.0,10.0,4.0,2.0,11,4,4,0,3,0,1,1

In [12]:
pivot(df, index = 'A')

,A,AC,AF,AR,AS,AST,AY,HC,HF,HR,HS,HST,HY,S,allg,ga,gh,pa,ph,y1,y2
0,0,9.0,21.0,0.0,23.0,15.0,5.0,7.0,29.0,0.0,18.0,8.0,3.0,21,8,6,2,4,1,2,2
1,1,14.0,37.0,1.0,27.0,13.0,1.0,9.0,38.0,0.0,12.0,6.0,4.0,21,4,1,3,0,6,0,1
2,3,13.0,42.0,1.0,24.0,8.0,5.0,18.0,39.0,1.0,40.0,18.0,3.0,31,4,1,3,2,5,0,0
3,4,12.0,48.0,1.0,33.0,21.0,9.0,23.0,40.0,0.0,38.0,23.0,6.0,31,6,3,3,4,4,1,1
4,6,8.0,20.0,0.0,18.0,6.0,6.0,15.0,28.0,0.0,26.0,12.0,1.0,21,9,1,8,0,6,2,2
5,13,8.0,18.0,1.0,16.0,10.0,2.0,9.0,20.0,0.0,25.0,13.0,3.0,21,7,6,1,6,0,1,2
6,14,18.0,35.0,0.0,41.0,21.0,5.0,16.0,39.0,1.0,29.0,16.0,5.0,31,10,6,4,7,1,1,2
7,18,19.0,41.0,1.0,38.0,20.0,3.0,23.0,30.0,2.0,31.0,14.0,3.0,31,8,3,5,3,6,1,2
8,19,21.0,21.0,0.0,33.0,19.0,6.0,12.0,33.0,0.0,16.0,11.0,6.0,21,8,3,5,1,4,2,2
9,23,8.0,41.0,0.0,24.0,12.0,6.0,15.0,37.0,0.0,41.0,11.0,5.0,31,10,5,5,3,6,1,3
10,24,2.0,18.0,2.0,5.0,1.0,3.0,7.0,12.0,1.0,17.0,7.0,0.0,11,3,1,2,0,3,0,1
11,25,19.0,22.0,0.0,32.0,18.0,4.0,19.0,42.0,0.0,32.0,18.0,5.0,31,5,3,2,5,2,1,1
12,26,18.0,40.0,0.0,39.0,19.0,5.0,11.0,38.0,1.0,34.0,19.0,4.0,31,7,3,4,3,6,0,2
13,27,7.0,23.0,0.0,20.0,15.0,4.0,5.0,31.0,0.0,18.0,10.0,5.0,21,7,4,3,4,1,1,2
14,28,10.0,30.0,0.0,19.0,10.0,1.0,10.0,29.0,0.0,29.0,14.0,1.0,21,5,2,3,1,4,1,1
15,29,16.0,30.0,0.0,28.0,16.0,3.0,10.0,31.0,0.0,28.0,15.0,5.0,21,5,2,3,1,4,1,1
16,33,7.0,22.0,0.0,4.0,2.0,3.0,11.0,8.0,0.0,21.0,11.0,2.0,11,2,1,1,1,1,0,0
17,38,15.0,23.0,0.0,20.0,11.0,2.0,7.0,38.0,0.0,28.0,16.0,3.0,21,7,2,5,1,4,1,2
18,40,2.0,22.0,0.0,16.0,7.0,2.0,17.0,27.0,0.0,35.0,14.0,3.0,20,1,1,0,4,1,0,0
19,43,18.0,54.0,0.0,32.0,13.0,8.0,17.0,47.0,0.0,33.0,19.0,5.0,31,6,3,3,4,4,1,1
20,45,2.0,21.0,1.0,14.0,11.0,3.0,10.0,18.0,0.0,30.0,21.0,4.0,20,8,2,6,0,6,1,1
21,46,1.0,9.0,0.0,7.0,4.0,2.0,7.0,7.0,0.0,13.0,10.0,1.0,10,4,0,4,0,3,1,1
22,49,2.0,14.0,0.0,8.0,5.0,1.0,6.0,8.0,0.0,25.0,13.0,1.0,11,6,1,5,0,3,1,1

In [13]:
def pivot_S(df: pd.DataFrame, index: str):
    """Function to create pivot table by 'index' column for all S
    :param df: Original DataFrame
    :index: column on which the pivot table is created
    :return: pivot table for all S
    """
    table = pd.pivot_table(df, index=['S', index], aggfunc=np.sum)
    if index == 'H':
        del table['A']
    elif index == 'A':
        del table['H']
    return(table.reset_index())

In [14]:
pivot_S(df, 'H')

,S,H,AC,AF,AR,AS,AST,AY,HC,HF,HR,HS,HST,HY,allg,ga,gh,pa,ph,y1,y2
0,10,0,3.0,20.0,1.0,15.0,7.0,3.0,10.0,15.0,0.0,25.0,15.0,3.0,9,2,7,0,6,1,1
1,10,1,12.0,16.0,0.0,19.0,7.0,5.0,11.0,22.0,0.0,22.0,11.0,3.0,2,1,1,3,3,0,0
2,10,3,9.0,33.0,0.0,21.0,15.0,5.0,8.0,24.0,0.0,24.0,15.0,4.0,4,2,2,3,3,0,1
3,10,4,3.0,21.0,0.0,12.0,6.0,3.0,14.0,31.0,0.0,22.0,9.0,4.0,4,2,2,2,2,1,1
4,10,6,6.0,11.0,0.0,8.0,4.0,1.0,4.0,9.0,0.0,15.0,9.0,1.0,3,2,1,3,0,0,1
5,10,13,15.0,35.0,0.0,28.0,13.0,5.0,9.0,19.0,1.0,15.0,10.0,1.0,6,4,2,6,0,1,1
6,10,14,3.0,9.0,0.0,9.0,7.0,2.0,3.0,13.0,0.0,11.0,5.0,3.0,4,2,2,1,1,1,1
7,10,18,9.0,16.0,0.0,15.0,7.0,4.0,17.0,36.0,1.0,24.0,13.0,1.0,6,3,3,2,2,1,1
8,10,19,4.0,12.0,0.0,3.0,1.0,2.0,7.0,16.0,0.0,13.0,6.0,1.0,5,1,4,0,3,1,1
9,10,23,8.0,24.0,0.0,27.0,14.0,1.0,10.0,26.0,0.0,33.0,17.0,3.0,4,1,3,3,3,0,1
10,10,25,8.0,8.0,0.0,7.0,1.0,1.0,5.0,11.0,0.0,16.0,9.0,0.0,3,0,3,0,3,0,1
11,10,26,14.0,25.0,0.0,23.0,14.0,1.0,13.0,24.0,1.0,27.0,18.0,2.0,5,1,4,0,6,1,1
12,10,27,1.0,12.0,1.0,6.0,5.0,1.0,9.0,9.0,0.0,20.0,13.0,1.0,1,0,1,0,3,0,0
13,10,28,17.0,23.0,0.0,20.0,11.0,5.0,16.0,37.0,0.0,13.0,6.0,7.0,5,2,3,1,4,1,1
14,10,29,1.0,9.0,0.0,7.0,4.0,2.0,7.0,7.0,0.0,13.0,10.0,1.0,4,0,4,0,3,1,1
15,10,38,10.0,25.0,0.0,21.0,8.0,1.0,8.0,27.0,0.0,24.0,9.0,2.0,2,1,1,2,2,0,0
16,10,40,4.0,15.0,0.0,11.0,5.0,0.0,10.0,10.0,0.0,13.0,3.0,1.0,1,1,0,3,0,0,0
17,10,43,5.0,15.0,0.0,18.0,8.0,0.0,2.0,20.0,0.0,8.0,3.0,2.0,1,0,1,0,3,0,0
18,10,45,3.0,11.0,0.0,11.0,4.0,1.0,7.0,9.0,0.0,12.0,2.0,1.0,4,3,1,3,0,1,1
19,10,46,4.0,14.0,0.0,9.0,5.0,5.0,4.0,18.0,0.0,8.0,4.0,2.0,4,2,2,1,1,1,1
20,11,0,9.0,15.0,1.0,13.0,7.0,3.0,6.0,8.0,1.0,11.0,5.0,1.0,3,1,2,0,3,0,1
21,11,1,9.0,7.0,0.0,15.0,9.0,1.0,8.0,16.0,0.0,14.0,9.0,0.0,0,0,0,1,1,0,0
22,11,3,4.0,27.0,0.0,15.0,7.0,5.0,1.0,20.0,0.0,10.0,5.0,3.0,1,0,1,0,3,0,0
23,11,4,2.0,14.0,0.0,8.0,5.0,1.0,6.0,8.0,0.0,25.0,13.0,1.0,6,1,5,0,3,1,1
24,11,6,2.0,15.0,1.0,10.0,5.0,4.0,9.0,11.0,0.0,16.0,10.0,2.0,4,2,2,1,1,1,1
25,11,13,7.0,16.0,0.0,14.0,8.0,1.0,4.0,12.0,1.0,10.0,5.0,2.0,3,3,0,3,0,0,1
26,11,14,2.0,18.0,2.0,5.0,1.0,3.0,7.0,12.0,1.0,17.0,7.0,0.0,3,1,2,0,3,0,1
27,11,18,10.0,14.0,0.0,23.0,15.0,4.0,4.0,15.0,0.0,10.0,8.0,2.0,4,1,3,0,3,1,1
28,11,19,6.0,16.0,0.0,8.0,5.0,1.0,7.0,18.0,0.0,17.0,9.0,1.0,5,2,3,0,3,1,1
29,11,23,8.0,16.0,0.0,19.0,10.0,2.0,4.0,19.0,0.0,8.0,3.0,4.0,4,2,2,1,1,1,1
30,11,24,7.0,15.0,0.0,13.0,10.0,1.0,2.0,27.0,0.0,12.0,7.0,3.0,4,2,2,1,1,1,1
31,11,25,6.0,12.0,0.0,10.0,6.0,1.0,8.0,13.0,0.0,12.0,7.0,3.0,3,2,1,3,0,0,1
32,11,26,7.0,22.0,0.0,4.0,2.0,3.0,11.0,8.0,0.0,21.0,11.0,2.0,2,1,1,1,1,0,0
33,11,27,4.0,8.0,0.0,15.0,5.0,4.0,8.0,12.0,0.0,13.0,6.0,0.0,4,0,4,0,3,1,1
34,11,28,5.0,7.0,0.0,14.0,10.0,0.0,3.0,11.0,0.0,10.0,4.0,1.0,4,4,0,3,0,1,1
35,11,29,4.0,14.0,0.0,11.0,8.0,2.0,2.0,18.0,0.0,7.0,5.0,2.0,3,2,1,3,0,0,1
36,11,33,9.0,22.0,1.0,9.0,5.0,1.0,7.0,18.0,0.0,4.0,3.0,2.0,3,1,2,0,3,0,1
37,11,38,7.0,19.0,0.0,12.0,5.0,1.0,2.0,15.0,0.0,14.0,7.0,3.0,0,0,0,1,1,0,0
38,11,43,0.0,14.0,0.0,5.0,2.0,2.0,6.0,14.0,0.0,20.0,4.0,1.0,3,1,2,0,3,0,1
39,11,49,2.0,7.0,1.0,8.0,6.0,1.0,5.0,11.0,0.0,10.0,4.0,2.0,4,4,0,3,0,1,1

In [15]:
pivot_S(df, 'A')

,S,A,AC,AF,AR,AS,AST,AY,HC,HF,HR,HS,HST,HY,allg,ga,gh,pa,ph,y1,y2
0,10,0,4.0,14.0,0.0,9.0,5.0,5.0,4.0,18.0,0.0,8.0,4.0,2.0,4,2,2,1,1,1,1
1,10,1,5.0,15.0,0.0,18.0,8.0,0.0,2.0,20.0,0.0,8.0,3.0,2.0,1,0,1,0,3,0,0
2,10,3,6.0,23.0,1.0,12.0,3.0,4.0,16.0,24.0,1.0,26.0,11.0,0.0,4,1,3,1,4,0,0
3,10,4,10.0,33.0,0.0,23.0,16.0,5.0,14.0,29.0,0.0,22.0,13.0,4.0,2,1,1,3,3,0,0
4,10,6,4.0,12.0,0.0,3.0,1.0,2.0,7.0,16.0,0.0,13.0,6.0,1.0,5,1,4,0,3,1,1
5,10,13,6.0,11.0,0.0,8.0,4.0,1.0,4.0,9.0,0.0,15.0,9.0,1.0,3,2,1,3,0,0,1
6,10,14,12.0,23.0,0.0,31.0,15.0,4.0,8.0,26.0,1.0,17.0,9.0,2.0,7,4,3,4,1,1,1
7,10,18,10.0,26.0,0.0,25.0,13.0,0.0,17.0,22.0,1.0,20.0,9.0,2.0,5,2,3,3,3,1,1
8,10,19,11.0,7.0,0.0,10.0,4.0,2.0,8.0,18.0,0.0,6.0,3.0,4.0,4,2,2,1,1,1,1
9,10,23,8.0,27.0,0.0,19.0,10.0,4.0,9.0,23.0,0.0,21.0,7.0,4.0,7,4,3,3,3,1,2
10,10,25,10.0,15.0,0.0,17.0,9.0,3.0,11.0,26.0,0.0,18.0,9.0,5.0,5,3,2,4,1,1,1
11,10,26,11.0,24.0,0.0,25.0,11.0,4.0,7.0,26.0,0.0,24.0,14.0,2.0,4,0,4,0,6,0,1
12,10,27,3.0,9.0,0.0,9.0,7.0,2.0,3.0,13.0,0.0,11.0,5.0,3.0,4,2,2,1,1,1,1
13,10,28,4.0,14.0,0.0,11.0,5.0,0.0,3.0,11.0,0.0,12.0,5.0,0.0,0,0,0,1,1,0,0
14,10,29,8.0,14.0,0.0,9.0,6.0,1.0,6.0,12.0,0.0,20.0,12.0,1.0,1,0,1,0,3,0,0
15,10,38,8.0,8.0,0.0,7.0,1.0,1.0,5.0,11.0,0.0,16.0,9.0,0.0,3,0,3,0,3,0,1
16,10,40,2.0,22.0,0.0,16.0,7.0,2.0,17.0,27.0,0.0,35.0,14.0,3.0,1,1,0,4,1,0,0
17,10,43,14.0,27.0,0.0,17.0,6.0,3.0,16.0,27.0,0.0,23.0,14.0,2.0,5,3,2,4,1,1,1
18,10,45,2.0,21.0,1.0,14.0,11.0,3.0,10.0,18.0,0.0,30.0,21.0,4.0,8,2,6,0,6,1,1
19,10,46,1.0,9.0,0.0,7.0,4.0,2.0,7.0,7.0,0.0,13.0,10.0,1.0,4,0,4,0,3,1,1
20,11,0,5.0,7.0,0.0,14.0,10.0,0.0,3.0,11.0,0.0,10.0,4.0,1.0,4,4,0,3,0,1,1
21,11,1,9.0,22.0,1.0,9.0,5.0,1.0,7.0,18.0,0.0,4.0,3.0,2.0,3,1,2,0,3,0,1
22,11,3,7.0,19.0,0.0,12.0,5.0,1.0,2.0,15.0,0.0,14.0,7.0,3.0,0,0,0,1,1,0,0
23,11,4,2.0,15.0,1.0,10.0,5.0,4.0,9.0,11.0,0.0,16.0,10.0,2.0,4,2,2,1,1,1,1
24,11,6,4.0,8.0,0.0,15.0,5.0,4.0,8.0,12.0,0.0,13.0,6.0,0.0,4,0,4,0,3,1,1
25,11,13,2.0,7.0,1.0,8.0,6.0,1.0,5.0,11.0,0.0,10.0,4.0,2.0,4,4,0,3,0,1,1
26,11,14,6.0,12.0,0.0,10.0,6.0,1.0,8.0,13.0,0.0,12.0,7.0,3.0,3,2,1,3,0,0,1
27,11,18,9.0,15.0,1.0,13.0,7.0,3.0,6.0,8.0,1.0,11.0,5.0,1.0,3,1,2,0,3,0,1
28,11,19,10.0,14.0,0.0,23.0,15.0,4.0,4.0,15.0,0.0,10.0,8.0,2.0,4,1,3,0,3,1,1
29,11,23,0.0,14.0,0.0,5.0,2.0,2.0,6.0,14.0,0.0,20.0,4.0,1.0,3,1,2,0,3,0,1
30,11,24,2.0,18.0,2.0,5.0,1.0,3.0,7.0,12.0,1.0,17.0,7.0,0.0,3,1,2,0,3,0,1
31,11,25,9.0,7.0,0.0,15.0,9.0,1.0,8.0,16.0,0.0,14.0,9.0,0.0,0,0,0,1,1,0,0
32,11,26,7.0,16.0,0.0,14.0,8.0,1.0,4.0,12.0,1.0,10.0,5.0,2.0,3,3,0,3,0,0,1
33,11,27,4.0,14.0,0.0,11.0,8.0,2.0,2.0,18.0,0.0,7.0,5.0,2.0,3,2,1,3,0,0,1
34,11,28,6.0,16.0,0.0,8.0,5.0,1.0,7.0,18.0,0.0,17.0,9.0,1.0,5,2,3,0,3,1,1
35,11,29,8.0,16.0,0.0,19.0,10.0,2.0,4.0,19.0,0.0,8.0,3.0,4.0,4,2,2,1,1,1,1
36,11,33,7.0,22.0,0.0,4.0,2.0,3.0,11.0,8.0,0.0,21.0,11.0,2.0,2,1,1,1,1,0,0
37,11,38,7.0,15.0,0.0,13.0,10.0,1.0,2.0,27.0,0.0,12.0,7.0,3.0,4,2,2,1,1,1,1
38,11,43,4.0,27.0,0.0,15.0,7.0,5.0,1.0,20.0,0.0,10.0,5.0,3.0,1,0,1,0,3,0,0
39,11,49,2.0,14.0,0.0,8.0,5.0,1.0,6.0,8.0,0.0,25.0,13.0,1.0,6,1,5,0,3,1,1

# Задание 1.4
- Спросить у Антона, он расскажет и нарисует на листочке

In [16]:
data = df[['S', 'H', 'ph']]
data

     S   H  ph
0   10   4   1
1   10  13   0
2   10  18   1
3   10  19   3
4   10  23   3
5   10  27   3
6   10  38   1
7   10   0   3
8   10   1   0
9   10  29   3
10  10  14   1
11  10   3   0
12  10   6   0
13  10  25   3
14  10  26   3
15  10  28   1
16  10  40   0
17  10  43   3
18  10  45   0
19  10  46   1
20  10   0   3
21  10  13   0
22  10   1   3
23  10   4   1
24  10  18   1
25  10  23   0
26  10  38   1
27  10   3   3
28  10  26   3
29  10  28   3
30  11   0   3
31  11   3   3
32  11   4   3
33  11  19   3
34  11  24   1
35  11  27   3
36  11  33   3
37  11  13   0
38  11  23   1
39  11  25   0
40  11   6   1
41  11  14   3
42  11  18   3
43  11  26   1
44  11  29   0
45  11  38   1
46  11  43   3
47  11  49   0
48  11   1   1
49  11  28   0

In [17]:
df = pd.read_csv('data/data1.csv')
del df['Unnamed: 0']
del df['DateTime']
df = df.fillna(0)
# data = df[['S', 'H', 'A']]

In [18]:
data = df[['S', 'H', 'A', 'ph', 'pa']]

In [19]:
# data['p1'] = data.groupby(['S','H'])['ph'].transform(lambda x: x.cumsum().shift())

In [20]:
# for S in data.S.unique():
#     for H in data[data.S == S].H.unique():
#         i = 0
#         for index in list(data[(data.H == H)&(data.S == S)].index[1:len(data[(data.H == H)&((data.S == S))].index)]):
#             data.at[list(data[(data.H == H)&(data.S == S)].index[1:len(data[(data.H == H)&(data.S == S)].index)])[i], 'p1'] = data[data.H == H].p1[list(data[(data.H == H)&(data.S == S)].index[:len(data[(data.H == H)&(data.S == S)].index)])[i]] + data[(data.H == H)&(data.S == S)].ph[list(data[(data.H == H)&(data.S == S)].index[:len(data[(data.H == H)&(data.S == S)].index)])[i]]
#             i += 1

In [21]:
# for S in data.S.unique():
#     for A in data[data.S == S].A.unique():
#         i = 0
#         for index in list(data[(data.A == A)&(data.S == S)].index[1:len(data[(data.A == A)&((data.S == S))].index)]):
#             data.at[list(data[(data.A == A)&(data.S == S)].index[1:len(data[(data.A == A)&(data.S == S)].index)])[i], 'p2'] = data[data.A == A].p2[list(data[(data.A == A)&(data.S == S)].index[:len(data[(data.A == A)&(data.S == S)].index)])[i]] + data[(data.A == A)&(data.S == S)].pa[list(data[(data.A == A)&(data.S == S)].index[:len(data[(data.A == A)&(data.S == S)].index)])[i]]
#             i += 1

In [22]:
def cumsum_os_ha(data: pd.DataFrame):
    data['p1'] = data.groupby(['S','H'])['ph'].transform(lambda x: x.cumsum().shift())
    data['p2'] = data.groupby(['S','A'])['pa'].transform(lambda x: x.cumsum().shift())
    data['p5'] = data.groupby(['H'])['ph'].transform(lambda x: x.cumsum().shift())
    data['p6'] = data.groupby(['A'])['pa'].transform(lambda x: x.cumsum().shift())
    return data

In [23]:
def cumsum_o_ha(data: pd.DataFrame):
    data['id'] = range(1, len(data) + 1)
    data1 = data[['S', 'H', 'ph', 'id']]
    data2 = data[['S', 'A', 'pa', 'id']]
    data2.rename(columns={'A':'H', 'pa': 'ph'}, inplace=True)
    data3 = pd.concat([data1, data2])
    data3.sort_values('id', inplace=True)
    data3['p3'] = data3.groupby(['S','H'])['ph'].transform(lambda x: x.cumsum().shift())
    data = data.merge(data3, left_on=('S', 'H', 'id', 'ph'), right_on=('S', 'H', 'id', 'ph'))
    data3.rename(columns={'H':'A', 'ph': 'pa'}, inplace=True)
    data = data.merge(data3, left_on=('S', 'A', 'id', 'pa'), right_on=('S', 'A', 'id', 'pa'))
    data.rename(columns={'p3_x': 'p3', 'p3_y': 'p4'}, inplace=True)
    
    return data

In [24]:
def cumsum_o(data: pd.DataFrame):
    data['id'] = range(1, len(data) + 1)
    data1 = data[['H', 'ph', 'id']]
    data2 = data[['A', 'pa', 'id']]
    data2.rename(columns={'A':'H', 'pa': 'ph'}, inplace=True)
    data3 = pd.concat([data1, data2])
    data3.sort_values('id', inplace=True)
    data3['p7'] = data3.groupby(['H'])['ph'].transform(lambda x: x.cumsum().shift())
    data = data.merge(data3, left_on=('H', 'id', 'ph'), right_on=('H', 'id', 'ph'))
    data3.rename(columns={'H':'A', 'ph': 'pa'}, inplace=True)
    data = data.merge(data3, left_on=('A', 'id', 'pa'), right_on=('A', 'id', 'pa'))
    data.rename(columns={'p7_x': 'p7', 'p7_y': 'p8'}, inplace=True)
    return data

In [25]:
data = cumsum_os_ha(data)
data

        S   H   A  ph  pa    p1    p2     p5     p6
0       1   0  15   0   3   NaN   NaN    NaN    NaN
1       1   1  34   3   0   NaN   NaN    NaN    NaN
2       1  14   4   0   3   NaN   NaN    NaN    NaN
3       1  25  37   3   0   NaN   NaN    NaN    NaN
4       1  26  23   1   1   NaN   NaN    NaN    NaN
...    ..  ..  ..  ..  ..   ...   ...    ...    ...
11108  29   1  43   0   3  18.0  23.0  726.0  693.0
11109  29   9  46   3   0  17.0  21.0   17.0  483.0
11110  29  24  16   3   0  24.0  15.0  449.0  243.0
11111  29  30  11   3   0   9.0   9.0  208.0  126.0
11112  29  26  25   1   1  34.0  33.0  895.0  857.0

[11113 rows x 9 columns]

In [26]:
data = cumsum_o_ha(data)

In [27]:
data

        S   H   A  ph  pa    p1    p2     p5     p6     id    p3    p4
0       1   0  15   0   3   NaN   NaN    NaN    NaN      1   NaN   NaN
1       1   1  34   3   0   NaN   NaN    NaN    NaN      2   NaN   NaN
2       1  14   4   0   3   NaN   NaN    NaN    NaN      3   NaN   NaN
3       1  25  37   3   0   NaN   NaN    NaN    NaN      4   NaN   NaN
4       1  26  23   1   1   NaN   NaN    NaN    NaN      5   NaN   NaN
...    ..  ..  ..  ..  ..   ...   ...    ...    ...    ...   ...   ...
11108  29   1  43   0   3  18.0  23.0  726.0  693.0  11109  36.0  54.0
11109  29   9  46   3   0  17.0  21.0   17.0  483.0  11110  33.0  51.0
11110  29  24  16   3   0  24.0  15.0  449.0  243.0  11111  37.0  37.0
11111  29  30  11   3   0   9.0   9.0  208.0  126.0  11112  18.0  24.0
11112  29  26  25   1   1  34.0  33.0  895.0  857.0  11113  73.0  72.0

[11113 rows x 12 columns]

In [28]:
data = cumsum_o(data)
data

,S,H,A,ph,pa,p1,p2,p5,p6,id,p3,p4,p7,p8
0,1,0,15,0,3,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
1,1,1,34,3,0,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN
2,1,14,4,0,3,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN
3,1,25,37,3,0,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN
4,1,26,23,1,1,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11108,29,1,43,0,3,18.0,23.0,726.0,693.0,11109,36.0,54.0,1275.0,1711.0
11109,29,9,46,3,0,17.0,21.0,17.0,483.0,11110,33.0,51.0,33.0,1253.0
11110,29,24,16,3,0,24.0,15.0,449.0,243.0,11111,37.0,37.0,772.0,504.0
11111,29,30,11,3,0,9.0,9.0,208.0,126.0,11112,18.0,24.0,326.0,314.0
11112,29,26,25,1,1,34.0,33.0,895.0,857.0,11113,73.0,72.0,1552.0,2030.0

In [29]:
def function_T(data: pd.DataFrame):
    df = data[['S', 'H', 'A']]
    df['TH'], df['TA'] = 0, 0
    my_dict = {}
    for i in pd.unique(df[['H', 'A']].values.ravel('K')):
        my_dict[i] = 0

    for S in df.S.unique():
        for ind in df[df.S == S][['H', 'A']].index:
            for num in my_dict:
                if df.iloc[ind].H == num:        
                    my_dict[df.iloc[ind].H] += 1
                    df.iloc[ind].TH = my_dict[df.iloc[ind].H]
                elif df.iloc[ind].A == num: 
                    my_dict[df.iloc[ind].A] += 1
                    df.iloc[ind].TA = my_dict[df.iloc[ind].A]
        for i in pd.unique(df[['H', 'A']].values.ravel('K')):
            my_dict[i] = 0
    data = data.drop(columns=['S', 'H', 'A'])
    return pd.concat([df, data], axis=1)

In [30]:
# %%time
# function_T(df)

In [31]:
data2 = data

In [32]:
%%time
data2['ta'], data2['th'] = 1, 1
for S in data2.S.unique():
    for A in data2.A.unique():
        data2.loc[(data2.S == S) & (data2.A == A), 'ta'] = data2.loc[(data2.S == S) & (data2.A == A), 'ta'].cumsum()
    for H in data2.H.unique():
        data2.loc[(data2.S == S) & (data2.H == H), 'th'] = data2.loc[(data2.S == S) & (data2.H == H), 'th'].cumsum()

Wall time: 2.17 s

In [33]:
# data2 = cumsum_os_ha(data2)
# data2 = cumsum_o_ha(data2)
# data2 = cumsum_o(data2)
# data2

In [34]:
# создание столбцов p1.1, p2.1, p3.1, p4.1
data2['p1.1'] = data2.ph + data2.p1
data2['p2.1'] = data2.pa + data2.p2
data2['p3.1'] = data2.ph + data2.p3
data2['p4.1'] = data2.pa + data2.p4

In [35]:
data2 = function_T(data2)

In [36]:
# выборка из полного датасета таких строк, где TA == 42 или 38 в зависимости от S
data_42 = pd.concat([data2[data2.TA == 42], data2[(data2.S > 2) & (data2.TA == 38)]])

In [37]:
# задание кластеров в зависимости от p3.1 и p4.1
data_42['KH'], data_42['KA'] = 0, 0

data_42.loc[(data_42['p3.1'] >= 80) & (data_42['p3.1'] <= 114), 'KH'] = 1
data_42.loc[(data_42['p3.1'] >= 65) & (data_42['p3.1'] <= 79), 'KH'] = 2
data_42.loc[(data_42['p3.1'] >= 55) & (data_42['p3.1'] <= 64), 'KH'] = 3
data_42.loc[(data_42['p3.1'] >= 41) & (data_42['p3.1'] <= 54), 'KH'] = 4
data_42.loc[(data_42['p3.1'] >= 0) & (data_42['p3.1'] <= 40), 'KH'] = 5

data_42.loc[(data_42['p4.1'] >= 80) & (data_42['p4.1'] <= 114), 'KA'] = 1
data_42.loc[(data_42['p4.1'] >= 65) & (data_42['p4.1'] <= 79), 'KA'] = 2
data_42.loc[(data_42['p4.1'] >= 55) & (data_42['p4.1'] <= 64), 'KA'] = 3
data_42.loc[(data_42['p4.1'] >= 41) & (data_42['p4.1'] <= 54), 'KA'] = 4
data_42.loc[(data_42['p4.1'] >= 0) & (data_42['p4.1'] <= 40), 'KA'] = 5

In [38]:
data_19A = pd.concat([data2[data2.ta == 21], data2[(data2.S > 2) & (data2.ta == 19)]])


data_19A.loc[(data_19A['p2.1'] >= 40) & (data_19A['p2.1'] <= 57), 'Ka'] = 1
data_19A.loc[(data_19A['p2.1'] >= 35) & (data_19A['p2.1'] <= 39), 'Ka'] = 2
data_19A.loc[(data_19A['p2.1'] >= 25) & (data_19A['p2.1'] <= 34), 'Ka'] = 3
data_19A.loc[(data_19A['p2.1'] >= 16) & (data_19A['p2.1'] <= 24), 'Ka'] = 4
data_19A.loc[(data_19A['p2.1'] >= 0) & (data_19A['p2.1'] <= 15), 'Ka'] = 5

In [39]:
data_19A

,S,H,A,TH,TA,ph,pa,p1,p2,p5,p6,id,p3,p4,p7,p8,ta,th,p1.1,p2.1,p3.1,p4.1,Ka
435,1,23,18,40,41,3,0,41.0,16.0,41.0,16.0,436,63.0,41.0,63.0,41.0,21,20,44.0,16.0,66.0,41.0,4.0
436,1,25,30,41,41,0,3,40.0,29.0,40.0,29.0,437,60.0,49.0,60.0,49.0,21,21,40.0,32.0,60.0,52.0,3.0
437,1,26,14,41,40,1,1,27.0,12.0,27.0,12.0,438,43.0,47.0,43.0,47.0,21,21,28.0,13.0,44.0,48.0,5.0
439,1,34,42,40,41,0,3,30.0,8.0,30.0,8.0,440,56.0,27.0,56.0,27.0,21,20,30.0,11.0,56.0,30.0,5.0
440,1,36,29,40,41,3,0,25.0,31.0,25.0,31.0,441,38.0,74.0,38.0,74.0,21,21,28.0,31.0,41.0,74.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10799,28,25,16,38,38,3,0,30.0,21.0,1131.0,228.0,10800,66.0,44.0,1955.0,467.0,19,19,33.0,21.0,69.0,44.0,4.0
10800,28,26,18,38,38,3,0,38.0,37.0,858.0,583.0,10801,83.0,59.0,1476.0,1482.0,19,19,41.0,37.0,86.0,59.0,2.0
10801,28,36,11,38,38,3,0,13.0,21.0,101.0,117.0,10802,20.0,39.0,154.0,290.0,19,19,16.0,21.0,23.0,39.0,4.0
10802,28,46,38,38,38,3,0,31.0,16.0,737.0,376.0,10803,62.0,43.0,1199.0,973.0,19,19,34.0,16.0,65.0,43.0,4.0
10803,28,49,27,38,38,0,3,25.0,40.0,177.0,987.0,10804,45.0,71.0,297.0,2221.0,19,19,25.0,43.0,45.0,74.0,1.0

In [40]:
data_19H = pd.concat([data2[data2.th == 21], data2[(data2.S > 2) & (data2.th == 19)]])

data_19H.loc[(data_19H['p1.1'] >= 40) & (data_19H['p1.1'] <= 57), 'Kh'] = 1
data_19H.loc[(data_19H['p1.1'] >= 35) & (data_19H['p1.1'] <= 39), 'Kh'] = 2
data_19H.loc[(data_19H['p1.1'] >= 30) & (data_19H['p1.1'] <= 34), 'Kh'] = 3
data_19H.loc[(data_19H['p1.1'] >= 21) & (data_19H['p1.1'] <= 29), 'Kh'] = 4
data_19H.loc[(data_19H['p1.1'] >= 0) & (data_19H['p1.1'] <= 20), 'Kh'] = 5

In [41]:
d1 = data_42[['S', 'H', 'KH', 'id']]
d2 = data_42[['S', 'A', 'KA', 'id']]

In [42]:
d2.rename(columns={'A': 'H', 'KA': 'KH'}, inplace=True)

In [43]:
d = pd.concat([d1, d2])
d.sort_values('id', inplace=True)
d = d.reset_index(drop=True)
d.rename(columns={'KH': 'K', 'H': 'HA'}, inplace=True)
d

      S  HA  K     id
0     1   1  3    452
1     1  25  3    452
2     1  22  4    453
3     1   4  1    453
4     1  14  4    454
..   ..  .. ..    ...
559  28  36  5  10802
560  28  38  4  10803
561  28  46  2  10803
562  28  49  4  10804
563  28  27  2  10804

[564 rows x 4 columns]

In [44]:
print(d[d.S == 1][['S', 'HA', 'K']].shape)
print(d[d.S == 10][['S', 'HA', 'K']].shape)

(22, 3)
(20, 3)

In [45]:
d = d[['S', 'HA', 'K']]
d['KK'] = 0

for HA in d.HA.unique():
    d.loc[d.HA == HA, 'KK'] = d.loc[d.HA == HA, 'K'].shift()

d.loc[(d.S == 1), 'KK'] = d.loc[(d.S == 1), 'KK'].fillna(0)
d.loc[(d.S == 1), 'KK'] = d.loc[(d.S == 1), 'K'] + d.loc[(d.S == 1), 'KK']

d.fillna(5, inplace=True)

In [46]:
DF = pd.read_csv('data/data1.csv')
del DF['Unnamed: 0']
DF = DF.fillna(0)
DF.head(5)

,S,DateTime,H,A,gh,ga,allg,ph,pa,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,y1,y2
0,1,1993-08-14T00:00:00Z,0,15,0,3,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1
1,1,1993-08-14T00:00:00Z,1,34,4,1,5,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
2,1,1993-08-14T00:00:00Z,14,4,1,2,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1
3,1,1993-08-14T00:00:00Z,25,37,2,0,2,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
4,1,1993-08-14T00:00:00Z,26,23,1,1,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [47]:
dd = d[['S', 'HA', 'KK']]
dd.rename(columns={'HA':'H'}, inplace=True)
dd.fillna(5, inplace=True)

In [48]:
DF = DF.merge(dd, left_on=['S', 'H'], right_on=['S', 'H'])
DF

,S,DateTime,H,A,gh,ga,allg,ph,pa,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,y1,y2,KK
0,1,1993-08-14T00:00:00Z,0,15,0,3,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,2.0
1,1,1993-08-24T00:00:00Z,0,23,2,1,3,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,2.0
2,1,1993-08-28T00:00:00Z,0,18,2,0,2,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,2.0
3,1,1993-09-11T00:00:00Z,0,22,4,0,4,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,2.0
4,1,1993-09-25T00:00:00Z,0,38,1,0,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10799,28,2021-03-07T16:30:00Z,26,27,0,2,2,0,3,23.0,8.0,6.0,6.0,6.0,2.0,9.0,12.0,0.0,3.0,0.0,0.0,0,0,1.0
10800,28,2021-03-10T18:00:00Z,26,38,5,2,7,3,0,17.0,11.0,10.0,6.0,5.0,5.0,6.0,4.0,1.0,0.0,0.0,0.0,1,1,1.0
10801,28,2021-04-10T12:30:00Z,26,23,1,2,3,0,3,29.0,2.0,7.0,2.0,9.0,3.0,12.0,15.0,3.0,1.0,0.0,1.0,0,1,1.0
10802,28,2021-05-08T17:30:00Z,26,14,1,2,3,0,3,16.0,12.0,4.0,5.0,6.0,2.0,12.0,10.0,2.0,0.0,0.0,0.0,0,1,1.0
10803,28,2021-05-23T16:00:00Z,26,18,5,0,5,3,0,21.0,8.0,11.0,3.0,7.0,5.0,8.0,10.0,2.0,2.0,0.0,0.0,1,1,1.0

In [49]:
dd = d[['S', 'HA', 'KK']]
dd.rename(columns={'HA':'A'}, inplace=True)
dd.fillna(5, inplace=True)

In [50]:
DF = DF.merge(dd, left_on=['S', 'A'], right_on=['S', 'A'])
DF.head()

,S,DateTime,H,A,gh,ga,allg,ph,pa,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,y1,y2,KK_x,KK_y
0,1,1993-08-14T00:00:00Z,0,15,0,3,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,2.0,3.0
1,1,1993-09-11T00:00:00Z,1,15,0,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0
2,1,1994-05-04T00:00:00Z,14,15,1,2,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,4.0,3.0
3,1,1994-02-26T00:00:00Z,25,15,1,0,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0
4,1,1993-08-27T00:00:00Z,26,15,1,1,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,3.0

In [51]:
DF.rename(columns={'KK_x' : 'KH', 'KK_y': 'KA'}, inplace=True)

In [52]:
DF.shape

(10804, 25)

In [53]:
data_19A[['S', 'A', 'Ka']]

        S   A   Ka
435     1  18  4.0
436     1  30  3.0
437     1  14  5.0
439     1  42  5.0
440     1  29  3.0
...    ..  ..  ...
10799  28  16  4.0
10800  28  18  2.0
10801  28  11  4.0
10802  28  38  4.0
10803  28  27  1.0

[564 rows x 3 columns]

In [54]:
da = data_19A[['S', 'A', 'Ka']]
da['Kaa'] = 0

for A in da.A.unique():
    da.loc[da.A == A, 'Kaa'] = da.loc[da.A == A, 'Ka'].shift()

da.loc[(da.S == 1), 'Kaa'] = da.loc[(da.S == 1), 'Kaa'].fillna(0)
da.loc[(da.S == 1), 'Kaa'] = da.loc[(da.S == 1), 'Ka'] + da.loc[(da.S == 1), 'Kaa']

da.fillna(5, inplace=True)

In [55]:
dh = data_19H[['S', 'H', 'Kh']]
dh['Khh'] = 0

for H in dh.H.unique():
    dh.loc[dh.H == H, 'Khh'] = dh.loc[dh.H == H, 'Kh'].shift()

dh.loc[(dh.S == 1), 'Khh'] = dh.loc[(dh.S == 1), 'Khh'].fillna(0)
dh.loc[(dh.S == 1), 'Khh'] = dh.loc[(dh.S == 1), 'Kh'] + dh.loc[(dh.S == 1), 'Khh']

dh.fillna(5, inplace=True)

In [56]:
DF = DF.merge(dh, left_on=['S', 'H'], right_on=['S', 'H'])

In [57]:
DF = DF.merge(da, left_on=['S', 'A'], right_on=['S', 'A'])

In [58]:
del DF['Kh']
del DF['Ka']

In [59]:
DF

,S,DateTime,H,A,gh,ga,allg,ph,pa,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,y1,y2,KH,KA,Khh,Kaa
0,1,1993-08-14T00:00:00Z,0,15,0,3,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,2.0,3.0,2.0,4.0
1,1,1993-09-11T00:00:00Z,1,15,0,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0,4.0,4.0
2,1,1994-05-04T00:00:00Z,14,15,1,2,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,4.0,3.0,2.0,4.0
3,1,1994-02-26T00:00:00Z,25,15,1,0,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0,1.0,4.0
4,1,1993-08-27T00:00:00Z,26,15,1,1,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,3.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10799,28,2021-04-04T16:30:00Z,1,19,3,1,4,3,0,14.0,15.0,4.0,7.0,4.0,4.0,14.0,20.0,1.0,2.0,0.0,0.0,1,1,5.0,5.0,4.0,5.0
10800,28,2020-10-04T14:00:00Z,49,19,1,0,1,3,0,14.0,10.0,5.0,2.0,6.0,2.0,15.0,8.0,1.0,1.0,0.0,0.0,0,0,3.0,5.0,3.0,5.0
10801,28,2021-02-17T18:00:00Z,11,19,1,1,2,1,1,8.0,8.0,3.0,3.0,5.0,5.0,7.0,13.0,1.0,1.0,0.0,0.0,0,0,4.0,5.0,4.0,5.0
10802,28,2020-12-05T15:00:00Z,26,19,2,0,2,3,0,16.0,6.0,6.0,1.0,9.0,3.0,7.0,6.0,0.0,0.0,0.0,0.0,0,0,1.0,5.0,1.0,5.0
10803,28,2021-04-18T13:30:00Z,0,19,1,1,2,1,1,18.0,3.0,5.0,1.0,11.0,1.0,9.0,11.0,0.0,3.0,0.0,0.0,0,0,3.0,5.0,2.0,5.0

In [60]:
DF2 = DF.copy()

In [61]:
# data['p1.1'] = data.ph + data.p1
# data['p2.1'] = data.pa + data.p2
# data['p3.1'] = data.ph + data.p3
# data['p4.1'] = data.pa + data.p4

In [62]:
# data = function_T(data)

In [63]:
# new_data = pd.concat([data[data.TA == 42], data[(data.S > 2) & (data.TA == 38)]])

In [64]:
# new_data = new_data[['S', 'TA', 'H', 'A', 'p3.1', 'p4.1', 'id']].reset_index(drop=True)

In [65]:
# KS = pd.DataFrame()
# KS['HA'] = pd.Series(np.reshape(new_data[['H', 'A']].to_numpy(), (1, 282*2))[0])
# KS['P'] =  pd.Series(np.reshape(new_data[['p3.1', 'p4.1']].to_numpy(), (1, 282*2))[0])

In [66]:
# KS1

NameError: name 'KS1' is not defined

In [ ]:
# KS2

In [ ]:
# KS1 = new_data[['S', 'H', 'p3.1', 'id']]
# KS2 = new_data[['S', 'A', 'p4.1', 'id']]
# KS2.rename(columns={'A': 'H', 'p4.1': 'p3.1'}, inplace=True)
# K = pd.concat([KS1, KS2])
# K.sort_values('id', inplace=True)
# K = K.reset_index(drop=True)
# K

In [ ]:
# from sklearn.cluster import KMeans
# from sklearn.metrics import silhouette_score

In [ ]:
# silhouette_score_dict = {}
# models = {}
# for S in K.S.unique():
#     for n_clusters in range(4, 8):
#         model = KMeans(n_clusters=n_clusters)
#         model.fit(K[K.S == S][['p3.1']])
#         silhouette_score_dict[n_clusters] = silhouette_score(K[K.S == S][['p3.1']], model.labels_)

#     models[S] = KMeans(n_clusters=max(silhouette_score_dict, key=silhouette_score_dict.get))
#     models[S].fit(K[K.S == S][['p3.1']])

In [ ]:
# K['KS'] = 0
# for S in K.S.unique():
#     K.loc[K.S == S, 'KS'] = models[S].labels_

In [ ]:
# for S in K.S.unique():
#     K.iloc[K.S==S] = K[K.S==S].sort_values('p3.1', ascending=False)

In [ ]:
# K['ks'] = 1
# for S in K.S.unique():
#     for i in range(1, K[K==S].shape[0]):
#         if K.iloc[i]['KS'] != K.iloc[i-1]['KS']:
#             K.loc[i, 'ks'] = K.loc[i-1, 'ks'] + 1
#         else:
#             K.loc[i, 'ks'] = K.loc[i-1, 'ks']
#         if K.iloc[i]['S'] != K.iloc[i-1]['S']:
#             K.loc[i, 'ks'] = 1

## Создаем last

In [69]:
%%time
def last_h5(DF: pd.DataFrame, window_size: int):
    DF['last_h5'] = 0
    for S in DF.S.unique():
        for H in DF[DF.S == S].H.unique():
            numbers_series = pd.Series(DF[(DF.S == S) & (DF.H == H)].gh)
            windows = numbers_series.rolling(window_size)
            moving_averages = windows.mean()
            DF.loc[(DF.S == S) & (DF.H == H), 'last_h5'] = moving_averages.shift()
            a = []
            for i in range (1, window_size + 1):
                a.append((DF.loc[(DF.S == S) & (DF.H == H) & (DF.last_h5.isna())].gh).to_numpy()[:i].mean())
            DF.loc[(DF.last_h5.isna())&(DF.S == S) & (DF.H == H), 'last_h5'] = a
    # print(a)
    return DF

Wall time: 0 ns

In [68]:
f = rolling_window(DF, 5)
f[f.H == 0].head(10)

,S,DateTime,H,A,gh,ga,allg,ph,pa,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,y1,y2,KH,KA,Khh,Kaa,last_h5
0,1,1993-08-14T00:00:00Z,0,15,0,3,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,2.0,3.0,2.0,4.0,0.000000
21,1,1993-08-24T00:00:00Z,0,23,2,1,3,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,2.0,2.0,2.0,3.0,1.000000
42,1,1993-08-28T00:00:00Z,0,18,2,0,2,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,2.0,4.0,2.0,4.0,1.333333
63,1,1993-09-11T00:00:00Z,0,22,4,0,4,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,2.0,4.0,2.0,4.0,2.000000
84,1,1993-09-25T00:00:00Z,0,38,1,0,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,2.0,4.0,2.0,5.0,1.800000
105,1,1993-10-16T00:00:00Z,0,26,0,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,2.0,4.0,2.0,4.0,1.800000
126,1,1993-10-30T00:00:00Z,0,30,0,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,2.0,4.0,2.0,3.0,1.800000
147,1,1993-11-06T00:00:00Z,0,1,1,2,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,2.0,3.0,2.0,3.0,1.400000
168,1,1993-11-27T00:00:00Z,0,29,2,1,3,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,2.0,2.0,2.0,3.0,1.200000
189,1,1993-12-06T00:00:00Z,0,43,1,1,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,2.0,4.0,2.0,3.0,0.800000

In [70]:
f

,S,DateTime,H,A,gh,ga,allg,ph,pa,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,y1,y2,KH,KA,Khh,Kaa,last_h5
0,1,1993-08-14T00:00:00Z,0,15,0,3,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,2.0,3.0,2.0,4.0,0.0
1,1,1993-09-11T00:00:00Z,1,15,0,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0,4.0,4.0,0.0
2,1,1994-05-04T00:00:00Z,14,15,1,2,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,4.0,3.0,2.0,4.0,1.0
3,1,1994-02-26T00:00:00Z,25,15,1,0,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0,1.0,4.0,1.0
4,1,1993-08-27T00:00:00Z,26,15,1,1,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,3.0,4.0,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10799,28,2021-04-04T16:30:00Z,1,19,3,1,4,3,0,14.0,15.0,4.0,7.0,4.0,4.0,14.0,20.0,1.0,2.0,0.0,0.0,1,1,5.0,5.0,4.0,5.0,0.6
10800,28,2020-10-04T14:00:00Z,49,19,1,0,1,3,0,14.0,10.0,5.0,2.0,6.0,2.0,15.0,8.0,1.0,1.0,0.0,0.0,0,0,3.0,5.0,3.0,5.0,0.8
10801,28,2021-02-17T18:00:00Z,11,19,1,1,2,1,1,8.0,8.0,3.0,3.0,5.0,5.0,7.0,13.0,1.0,1.0,0.0,0.0,0,0,4.0,5.0,4.0,5.0,0.6
10802,28,2020-12-05T15:00:00Z,26,19,2,0,2,3,0,16.0,6.0,6.0,1.0,9.0,3.0,7.0,6.0,0.0,0.0,0.0,0.0,0,0,1.0,5.0,1.0,5.0,3.0
10803,28,2021-04-18T13:30:00Z,0,19,1,1,2,1,1,18.0,3.0,5.0,1.0,11.0,1.0,9.0,11.0,0.0,3.0,0.0,0.0,0,0,3.0,5.0,2.0,5.0,1.6

In [118]:
def last_5KH(df: pd.DataFrame, window_size: int):
    df['last_5KH'] = 0
    for ind in df.index:
        KA = df.iloc[ind].KA
        numbers_series = pd.Series(df[df.KA == KA].allg)
        windows = numbers_series.rolling(window_size)
        moving_averages = windows.mean()
        df.loc[df.KA == KA, 'last_5KH'] = moving_averages.shift()
        a = []
        for i in range (1, window_size + 1):
            a.append((df.loc[(df.KA == KA) & (df.last_5KH.isna())].allg).to_numpy()[:i].mean())
        df.loc[(df.last_5KH.isna())&(df.KA == KA), 'last_5KH'] = a
    # print(a)
    return df

def last_5KA(df: pd.DataFrame, window_size: int):
    df['last_5KA'] = 0
    for ind in df.index:
        KH = df.iloc[ind].KH
        numbers_series = pd.Series(df[df.KH == KH].allg)
        windows = numbers_series.rolling(window_size)
        moving_averages = windows.mean()
        df.loc[df.KH == KH, 'last_5KA'] = moving_averages.shift()
        a = []
        for i in range (1, window_size + 1):
            a.append((df.loc[(df.KH == KH) & (df.last_5KA.isna())].allg).to_numpy()[:i].mean())
        df.loc[(df.last_5KA.isna())&(df.KH == KH), 'last_5KA'] = a
    # print(a)
    return df

In [117]:
f[f.KA == 3].head(20)

,S,DateTime,H,A,gh,ga,allg,ph,pa,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,y1,y2,KH,KA,Khh,Kaa,last_h5,last_5KH,last_KH
0,1,1993-08-14T00:00:00Z,0,15,0,3,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,2.0,3.0,2.0,4.0,0.0,0,3.00
1,1,1993-09-11T00:00:00Z,1,15,0,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0,4.0,4.0,0.0,0,1.50
2,1,1994-05-04T00:00:00Z,14,15,1,2,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,4.0,3.0,2.0,4.0,1.0,0,2.00
3,1,1994-02-26T00:00:00Z,25,15,1,0,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0,1.0,4.0,1.0,0,1.75
4,1,1993-08-27T00:00:00Z,26,15,1,1,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,3.0,4.0,4.0,1.0,0,1.80
5,1,1994-02-23T00:00:00Z,29,15,4,0,4,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,2.0,3.0,1.0,4.0,4.0,0,1.80
6,1,1993-08-24T00:00:00Z,32,15,3,3,6,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,5.0,3.0,4.0,4.0,3.0,0,2.00
7,1,1994-02-12T00:00:00Z,36,15,0,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,3.0,4.0,4.0,0.0,0,3.20
8,1,1994-01-15T00:00:00Z,38,15,1,0,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,3.0,4.0,4.0,1.0,0,2.60
9,1,1993-12-11T00:00:00Z,46,15,3,2,5,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,4.0,3.0,4.0,4.0,3.0,0,2.60
10,1,1993-10-02T00:00:00Z,30,15,1,0,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,3.0,4.0,4.0,1.0,0,3.20
11,1,1994-01-01T00:00:00Z,43,15,1,2,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,4.0,3.0,5.0,4.0,1.0,0,2.60
12,1,1994-04-23T00:00:00Z,18,15,0,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,3.0,4.0,4.0,0.0,0,2.00
13,1,1994-04-04T00:00:00Z,22,15,0,2,2,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,3.0,4.0,4.0,0.0,0,2.00
14,1,1994-03-19T00:00:00Z,23,15,1,0,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,2.0,3.0,1.0,4.0,1.0,0,2.20
15,1,1993-12-26T00:00:00Z,48,15,1,2,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,2.0,3.0,1.0,4.0,1.0,0,1.40
16,1,1993-11-23T00:00:00Z,4,15,2,1,3,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,1.0,3.0,1.0,4.0,2.0,0,1.80
17,1,1994-05-08T00:00:00Z,27,15,0,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1.0,3.0,1.0,4.0,0.0,0,1.80
18,1,1993-10-23T00:00:00Z,34,15,5,1,6,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,3.0,3.0,3.0,4.0,5.0,0,1.80
19,1,1993-11-20T00:00:00Z,37,15,0,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0,2.0,4.0,0.0,0,2.60

In [112]:
%%time
s = last_KH(f, 5)

Wall time: 32.9 s

In [113]:
s

,S,DateTime,H,A,gh,ga,allg,ph,pa,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,y1,y2,KH,KA,Khh,Kaa,last_h5,last_5KH,last_KH
0,1,1993-08-14T00:00:00Z,0,15,0,3,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,2.0,3.0,2.0,4.0,0.0,0,3.00
1,1,1993-09-11T00:00:00Z,1,15,0,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0,4.0,4.0,0.0,0,1.50
2,1,1994-05-04T00:00:00Z,14,15,1,2,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,4.0,3.0,2.0,4.0,1.0,0,2.00
3,1,1994-02-26T00:00:00Z,25,15,1,0,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0,1.0,4.0,1.0,0,1.75
4,1,1993-08-27T00:00:00Z,26,15,1,1,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,3.0,4.0,4.0,1.0,0,1.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10799,28,2021-04-04T16:30:00Z,1,19,3,1,4,3,0,14.0,15.0,4.0,7.0,4.0,4.0,14.0,20.0,1.0,2.0,0.0,0.0,1,1,5.0,5.0,4.0,5.0,0.6,0,2.60
10800,28,2020-10-04T14:00:00Z,49,19,1,0,1,3,0,14.0,10.0,5.0,2.0,6.0,2.0,15.0,8.0,1.0,1.0,0.0,0.0,0,0,3.0,5.0,3.0,5.0,0.8,0,3.00
10801,28,2021-02-17T18:00:00Z,11,19,1,1,2,1,1,8.0,8.0,3.0,3.0,5.0,5.0,7.0,13.0,1.0,1.0,0.0,0.0,0,0,4.0,5.0,4.0,5.0,0.6,0,2.40
10802,28,2020-12-05T15:00:00Z,26,19,2,0,2,3,0,16.0,6.0,6.0,1.0,9.0,3.0,7.0,6.0,0.0,0.0,0.0,0.0,0,0,1.0,5.0,1.0,5.0,3.0,0,2.40
10803,28,2021-04-18T13:30:00Z,0,19,1,1,2,1,1,18.0,3.0,5.0,1.0,11.0,1.0,9.0,11.0,0.0,3.0,0.0,0.0,0,0,3.0,5.0,2.0,5.0,1.6,0,2.40

In [75]:
f.iloc[1].S

1

In [81]:
f.index[f.index < 10]

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [104]:
%%time
window_size = 5
for ind in f.index:
    KA = f.iloc[ind].KA
    numbers_series = pd.Series(f[f.KA == KA].allg)
    windows = numbers_series.rolling(window_size)
    moving_averages = windows.mean()
    f.loc[f.KA == KA, 'last_KH'] = moving_averages.shift()
    a = []
    for i in range (1, window_size + 1):
        a.append((f.loc[(f.KA == KA) & (f.last_KH.isna())].allg).to_numpy()[:i].mean())
    f.loc[(f.last_KH.isna())&(f.KA == KA), 'last_KH'] = a

Wall time: 34.3 s

In [105]:
f[f.KA == 3].head(10)

,S,DateTime,H,A,gh,ga,allg,ph,pa,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,y1,y2,KH,KA,Khh,Kaa,last_h5,last_5KH,last_KH
0,1,1993-08-14T00:00:00Z,0,15,0,3,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,2.0,3.0,2.0,4.0,0.0,0,3.00
1,1,1993-09-11T00:00:00Z,1,15,0,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0,4.0,4.0,0.0,0,1.50
2,1,1994-05-04T00:00:00Z,14,15,1,2,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,4.0,3.0,2.0,4.0,1.0,0,2.00
3,1,1994-02-26T00:00:00Z,25,15,1,0,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0,1.0,4.0,1.0,0,1.75
4,1,1993-08-27T00:00:00Z,26,15,1,1,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,3.0,4.0,4.0,1.0,0,1.80
5,1,1994-02-23T00:00:00Z,29,15,4,0,4,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,2.0,3.0,1.0,4.0,4.0,0,1.80
6,1,1993-08-24T00:00:00Z,32,15,3,3,6,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,5.0,3.0,4.0,4.0,3.0,0,2.00
7,1,1994-02-12T00:00:00Z,36,15,0,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,3.0,4.0,4.0,0.0,0,3.20
8,1,1994-01-15T00:00:00Z,38,15,1,0,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,3.0,4.0,4.0,1.0,0,2.60
9,1,1993-12-11T00:00:00Z,46,15,3,2,5,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,4.0,3.0,4.0,4.0,3.0,0,2.60

In [119]:
f

,S,DateTime,H,A,gh,ga,allg,ph,pa,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,y1,y2,KH,KA,Khh,Kaa,last_h5,last_5KH,last_KH
0,1,1993-08-14T00:00:00Z,0,15,0,3,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,2.0,3.0,2.0,4.0,0.0,0,3.00
1,1,1993-09-11T00:00:00Z,1,15,0,0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0,4.0,4.0,0.0,0,1.50
2,1,1994-05-04T00:00:00Z,14,15,1,2,3,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,4.0,3.0,2.0,4.0,1.0,0,2.00
3,1,1994-02-26T00:00:00Z,25,15,1,0,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,3.0,3.0,1.0,4.0,1.0,0,1.75
4,1,1993-08-27T00:00:00Z,26,15,1,1,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,3.0,4.0,4.0,1.0,0,1.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10799,28,2021-04-04T16:30:00Z,1,19,3,1,4,3,0,14.0,15.0,4.0,7.0,4.0,4.0,14.0,20.0,1.0,2.0,0.0,0.0,1,1,5.0,5.0,4.0,5.0,0.6,0,2.60
10800,28,2020-10-04T14:00:00Z,49,19,1,0,1,3,0,14.0,10.0,5.0,2.0,6.0,2.0,15.0,8.0,1.0,1.0,0.0,0.0,0,0,3.0,5.0,3.0,5.0,0.8,0,3.00
10801,28,2021-02-17T18:00:00Z,11,19,1,1,2,1,1,8.0,8.0,3.0,3.0,5.0,5.0,7.0,13.0,1.0,1.0,0.0,0.0,0,0,4.0,5.0,4.0,5.0,0.6,0,2.40
10802,28,2020-12-05T15:00:00Z,26,19,2,0,2,3,0,16.0,6.0,6.0,1.0,9.0,3.0,7.0,6.0,0.0,0.0,0.0,0.0,0,0,1.0,5.0,1.0,5.0,3.0,0,2.40
10803,28,2021-04-18T13:30:00Z,0,19,1,1,2,1,1,18.0,3.0,5.0,1.0,11.0,1.0,9.0,11.0,0.0,3.0,0.0,0.0,0,0,3.0,5.0,2.0,5.0,1.6,0,2.40